.login-view {
  box-sizing: border-box;
  display: grid;
  gap: 1rem 0;
  place-content: center;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  max-width: 20rem;
  margin: auto;
  grid-template-rows: 1fr auto auto auto 1fr min-content;
  grid-template-columns: 3rem 1fr 3.5rem;
  place-items: center start;
  
  .title { grid-area: 2 / 1 / 3 / 2 }
  .name { grid-area: 3 / 1 / 4 / 3; }
  .password { grid-area: 4 / 1 / 5 / 3; }
  .password-login-btn {
    grid-area: 4 / 3 / 5 / 4;
    margin-left: auto;
  }
  .new { grid-area: 6 / 1 / 7 / 2; }
  .forgot { grid-area: 6 / 2 / 7 / 3; }
  .google-login { grid-area: 6 / 3 / 7 / 4; }
}
.title {
  font-size: 0.875rem;
  font-weight: 400;
}
.login-btn { justify-self: end; }
.new { white-space: nowrap; }
.forgot { white-space: pre-wrap;}
.vertical {
  transform: rotate(270deg) translateY(1rem);
  transform-origin: left bottom;
  align-self: end;
  height: auto;
  padding: 1rem 0;

}
.google-login {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border: none;
  background-color: transparent;
  display: grid;
  place-content: center;
  margin: 2rem auto 0;
  .google-icon {
    height: 3rem;
    width: 3rem;
  }
}