.btn {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--n-500);
  text-align: left;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0 1rem;
  white-space: nowrap;
}