.btn {
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
  background-color: transparent;
  border: none;
}
.bkg {
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  &.filled {
    background-color: var(--n-500);
    svg { fill: var(--black); }
  }
  &.border {
    fill: var(--n-500);
    border: 1px solid var(--n-300);
  }
  &.up { transform: rotate(270deg); }
  &.left { transform: rotate(180deg); }
  &.donw { transform: rotate(90deg); }
}
