#note {
  &.note {
    grid-area: var(--note-area);
    background-color: var(--black);
    position: fixed;
    inset: 0 0 0 var(--note-width);
    display: grid;
    grid-template-rows: auto 1.5rem 1fr;
    box-shadow: -1px 0 0 var(--n-300);
    z-index: 1;
    opacity: 0;
    transform: translateY(3rem);
    transition-property: opacity, transform;
    transition-duration: .5s;
    transition-timing-function: $easeOutQuint,;
    &.show {
      opacity: 1;
      transform: translateY(0)
    }
  }

  .icon-btn {
    @include base-btn;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
  }

  .title-input {
    box-sizing: border-box;
    padding: 0 1rem;
    margin-bottom: 0.125rem;
    font-size: 1rem;
    height: 3rem;
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: 0 1.0625rem 0 -1rem var(--n-300);
    color: var(--n-600);
  }
  .date {
    font-size: 0.625rem;
    text-transform: uppercase;
    color: var(--n-500);
    padding: 0 1rem;
    justify-content: space-between;
    display: flex;
    margin: auto 0; 
  }
  .body-input {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    line-height: 1.375;
    font-size: 0.875rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    white-space-collapse: break-spaces;
    overflow-y: auto;
    color: var(--n-600);
    resize: none;
  }
  .toolbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--n-300);
  }
  .toolbar-left-section,
  .toolbar-right-section {
    display: flex;
  }
  .back {
    overflow: visible;
    fill:transparent;
    width: 1rem;
    height: 1rem;
    stroke: var(--primary);
    stroke-width: 2;
  }
  .title-input:focus-visible,
  .body-input:focus-visible { outline-color: var(--primary); }
}